.categories {
  margin: 6px 0;
  max-height: 80px;
  overflow: hidden;
}
.categories__button {
  padding: 4px;
  font-size: 25px;
  border-radius: 5px;
  border: 0;
  margin: 5px;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.loadingGif {
  width: 100vw;
}

.card {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid orange;
}

.new {
  border: 2px solid green;
}
