.main__categories {
  display: grid;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
  height: 50vh;
  margin-top: calc(50vh / 2);
}

.categories {
  margin: 8px 0;
  max-height: 80px;
  overflow: hidden;
}
.categories__button {
  padding: 4px;
  font-size: 25px;
  border-radius: 5px;
  border: 0;
  margin: 5px;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.3);
  text-shadow: 1px 1px 2px rgb(128, 128, 128);
}

.filters {
  /* justify-content: space-evenly; */
}

.filters__element {
  display: flex;
  gap: 2px;
  padding: 4px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin: 8px;
}

.loadingGif {
  width: 100vw;
}

.card {
  padding: 6px;
  border-radius: 8px;
  border: 0.1px solid rgba(128, 128, 128, 0.413);
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 2px rgb(116, 116, 116);
  transition: 0.5s;
}
.card:hover {
  scale: 1.05;
}
.card__name {
  /* background: -webkit-linear-gradient(
    45deg,
    rgb(106, 0, 106) -20%,
    rgb(255, 167, 181) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-bottom: 10px;
  /* color: rgb(53, 53, 255); */
}
.card__description {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 26px;
}
.card__price {
  font-weight: 600;
  position: absolute;
  bottom: 6px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new {
  border: 1px solid green;
}
.card__new-border {
  position: absolute;
  top: -8px;
  right: 2%;
  font-family: "Orbitron", sans-serif;
  color: lightgreen;
  font-weight: bolder;
  z-index: 10;
  transition: 1s;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.card__new-marker {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: lightgreen;
}
/* .footer {
  margin-top: -40px;
  height: 40px;
  background-color: red;
} */
